*~.xml
*._dynamic_.*.dll
*.cache
*.FileListAbsolute.txt
*.pdb
Source/bin/
Source/obj
Delphi/
Source/Dependencies/VST.NET/_selfcompiled/
Patches/vvvv.midi-read/
*.wav
Source/Dependencies/VST.NET/_orig/
